pandas
pip-tools
presto-python-client
prettytable
pyodbc
pytest
pyyaml
requests
seaborn
sqlalchemy
sqlparse
tinynetrc
#git+https://github.com/opensafely/job-runner.git@project-yaml-support#egg=jobrunner
/home/seb/Code/opensafely/job-runner
